.Rproj.user
abseqR.Rproj
.Rhistory
.RData
.Ruserdata
inst/extdata/template.html
inst/extdata/index.html
**/._*
**/.DS_Store
.DS_Store
._.DS_Store
abseqR.png
abseqR.xml

# ignore vignette generated folders
vignettes/ex
vignettes/refined_comparison
